@keyframes open {
    0% {
        visibility: hidden;
        opacity: 0.9;
        scale: 0.1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes dark {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.35);
    }
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    overflow: hidden;

    display: grid;

    z-index: 55;

    background-color: rgba(0, 0, 0, 0.35);
    color: black;

    animation-name: dark;
    animation-duration: .5s;

    .body {
        animation-name: open;
        animation-duration: .5s;

        position: relative;
        place-self: center;
        display: flex;
        flex-direction: column;

        padding: 2rem 1rem .5rem;

        width: 60%;
        max-width: 500px;
        height: 70vh;

        border-radius: 1rem;

        background: linear-gradient(to bottom, #fff, #a28089);

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .center {
            flex: 5;
            margin-top: 1rem;


            overflow-y: hidden;

            background-color: #a28089;
            border-radius: .6rem .6rem 0 0;

            .scrollbar {
                height: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column-reverse;
                gap: .3rem;

                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 3px;
                    height: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: linear-gradient(to bottom, #fff, #a28089);
                    border-radius: 2rem;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(0, 0, 0, 0.09);
                }

                // For Internet Explorer
                & {
                    scrollbar-face-color: linear-gradient(to bottom, #fff, #a28089);
                    scrollbar-track-color: linear-gradient(to bottom, #fff, #a28089);
                }

                
            }
        }

        .bottom {
            flex: 1;
            width: 100%;
            margin-top: .5rem;
            position: relative;
            background-color: rgba(0, 0, 0, 0.099);
            border-radius: 0 0 .6rem .6rem;

            textarea {
                position: absolute;
                padding: .5rem;
                width: calc(95% - 30px);
                height: 100%;
                background-color: transparent;
                resize: none;
            }

            button {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: calc(5% + 30px);

                .icon {
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

}